#!/bin/bash

# openHAB server
openhabserver="alarmpi.local"
openhabport="8080"
serviceid="rrd4j"

# InfluxDB server
influxserver="influx-server"
influxport="8086"
influxdatbase="openhab_db"
influxuser="openhab"
influxpw="AnotherSuperbPassword456-"
importsize=100
sleeptime=5